@use '../variables';
@use '@gravity-ui/uikit/styles/mixins';

$block: '.#{variables.$ns}form-block';

#{$block} {
    &__card {
        margin: 10px;
        padding: 10px;
    }

    &__error {
        color: var(--g-color-text-danger);
    }
}
